/*Banner Navbar*/

a{
  color:#00AEF0;
}

.bannernav{
  margin:0; 
  text-align:center; 
  background-color:#ffffff; 
  background:url(../img/kickstarter/about/kolibri-adjust.png) no-repeat 50% -10px;
  background-size:230px;
  color:#3a3a3a; 
  padding-top:11px;
  padding-bottom:11px;
}

#banner-logo{
  padding-bottom:5px; 
  height:30px; 
  margin-right:15px;
}

.banner-text{
  color:#3a3a3a;
  font-size:16px;
  padding:10px;
  font-weight:bold;
}