.DS_Store
_static_cache/
database.sqlite
data/
media/
node_modules/
*.pyc
*.sublime-project
*.sublime-workspace
*.sqlite*
local_settings.py
devsettings.py
devsettings.pyc
local_settings_secrets.py
ips.txt
GeoLiteCity.dat
fle_site/static/css/*
fle_site/media/user_resources/*
Thumbs.db
venv/*
all_contributors.json
summary.json
/env
.venv

# temporarily ignore these files while we're still using pip
Pipfile
Pipfile.lock
