<li><a href="{% url 'translate' %}">Help translate</a></li>
<li><a href="{% url 'blog' %}">Read our blog</a></li>
<li><a href="http://learningequality.us6.list-manage.com/subscribe/post?u=023b9af05922dfc7f47a4fffb&id=d56041116d">Subscribe to newsletter</a></li>
<li><a href="https://community.learningequality.org/">Join the forums</a></li>
<li><a href="{% url 'map_add' %}">Share your story</a></li>
<li><a href="{% url 'donate' %}">Donate</a></li>
<li><a href="mailto:info@learningequality.org">Contact us</a></li>
