{% load staticfiles %}

<div class="container-fluid below-fold2">
		<div class="row">
            <div class="col-md-12 kolibri-statement" >
            	<img id="kolibri_logo" src="/static/img/kickstarter/about/kolibri-use-cases.png" alt="kolibri uses">
                <h2>Kolibri makes high quality education technology available in low-resource communities such as rural schools, refugee camps, orphanages, non-formal school systems, and prison systems.</h2>
                
            </div>
        </div>
        
        <br><br><br><br>

</div>