{% load staticfiles %}

<div id="how-container" class="row">
	<div class="row how-explanation greybg">
		<center><h2>HOW DOES KOLIBRI REACH THE DISCONNECTED?</h2></center>
		<div id="steps">
			<div class="row">

				<div class="how-step col-xs-12 col-sm-4 col-md-4">
					<img src="{% static 'img/kickstarter/how_it_works/seeding.png' %}">
					<h3>1. "Seeding" a Device</h3>
					<p>Kolibri installers, updates, and content can be downloaded once to a device in an area that has an Internet connection</p>
				</div>

				<div class="how-step col-xs-12 col-sm-4 col-md-4">
					<img src="{% static 'img/kickstarter/how_it_works/peertopeer.png' %}">
					<h3>2. Peer-to-Peer Distribution</h3>
					<p>That "seeded" device can then share new content and updates with other devices over an offline local network.</p>

				</div>

				<div class="how-step col-xs-12 col-sm-4 col-md-4">
					<img src="{% static 'img/kickstarter/how_it_works/sneakernet.png' %}">
					<h3>3. Last Mile via "Sneakernet"</h3>
					<p>To reach the most remote communities, a device can be carried by foot to share installers, updates, and content with other devices over local networks.</p>

				</div>

			</div>
		</div>
	</div>

</div>