{% load staticfiles %}

<div class="container-fluid below-fold2">
		<div class="row">
            <div class="col-md-12 kolibri-statement" >
            	<img id="kolibri_logo" src="/static/img/kickstarter/about/kolibri.png">
                <h2 style="margin-top: 20px;">Kolibri makes high quality education technology available in low-resource communities</h2>
               
                <div class="row use-cases ">
                    <div class="col-md-3 col-xs-6 col-sm-3 use shift-down2">
                        <img class="use-image" src="/static/img/kickstarter/use_cases/rural-schools.png">
                        <p>Rural Schools</p>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3 use shift-down">
                        <img class="use-image" src="/static/img/kickstarter/use_cases/refugee-camps.png">
                        <p>Refugee Camps</p>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3 use shift-down">
                        <img class="use-image" src="/static/img/kickstarter/use_cases/orphanages.png">
                        <p>Orphanages</p>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-3 use shift-down">
                        <img class="use-image" src="/static/img/kickstarter/use_cases/nonformal.png">
                        <p>Non-formal school programs </p>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <br><br><br><br>

</div>