{% load staticfiles %}


<script src="{% static 'js/fabric.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>

    <!-- Portfolio Modals -->

    <!-- Runs On Anything Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="my_col">
	                        <div class="modal-body">
	                            <h2>Runs on Anything</h2>
	                            <p class="tablet-text">
	                            	<br>
	                            	<br>
	                            	To facilitate broad, low-cost adoption, Kolibri is carefully designed to run on as many devices and operating systems (including Windows, Linux and OSX) as possible, leveraging existing legacy hardware or low-cost off-the-shelf devices. The cost of Android tablets is plummeting, so we're also building Kolibri to run standalone as an Android app.
	                            	<br>
	                            	<br>
	                            </p>
	                            <img class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/tablet.gif' %}" alt="">
                            <p class="tablet-text">
	                            	The cost of Android tablets is plummeting, so we're also building Kolibri to be able to run standalone as an Android app. Content can be loaded onto a tablet from a nearby server or peer-to-peer from another tablet, and then taken elsewhere and used by itself.
	                            </p>
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Feature</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="my_col">
	                        <div class="modal-body">
	                            <!-- Project Details Go Here -->
	                            <h2>Content Curation</h2>
	                            <p class="item-intro text-muted">Our web-based standalone tool <a href="https://studio.learningequality.org" target="_blank">KOLIBRI STUDIO</a> gives users full control over the organization of their educational materials. Using this content curation system, anyone can explore pre-organized libraries of open educational resources, and bundle, tag, differentiate, re-order, and distribute their content into custom channels. Kolibri Studio takes open educational resource use to the next level by enabling alignment to local curricular standards, allowing educators to easily browse and select from libraries, and letting users compare materials from a variety of sources.</p>
	                            <img class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/studio-gif1.gif' %}" alt="">
	                            <p class="big"><mark>&#9733 Build, re-order, and redesign your own library of digital resources.  </mark>   Using the Studio interface, an instructor could create a channel for students’ use from the existing library, for example: combining math content from Khan Academy, interactive physics simulations from PhET, and a story from African Storybook, easily integrate a variety of learning materials into their curriculum.</p>
	                            <img class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/studio-gif2.gif' %}" alt="">
	                            <p class="big">
	                            <p class="big"><mark>&#9733 Upload new materials  </mark>   Whether they’re student-created products, quality sample lesson plans, or digitized local books, any local materials can easily be uploaded onto Kolibri Studio to be combined and supplemented with content from around the world. </p>
	                            <p class="big"><mark>&#9733 Align to curriculum:  </mark>   With Studio’s channel structure, clipboard utility, search tools, and browsable topic trees, users have the tools to map open educational resources to their own curricular and learning objectives. Working personally with our partners, Learning Equality is also working to provide libraries pre-aligned to high-use standards, such as those of Mexico’s SEP and India’s NCERT.</p>
	
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="my_col">
	                        <div class="modal-body">
	                            <!-- Project Details Go Here -->
	                            <h2>Explore content</h2>
	                            <p class="item-intro text-muted">Available in dozens of languages, the Kolibri libraries are designed to support a well-rounded curriculum:</p>
	                            <ul style="text-align:left; max-width:700px; margin:0 auto; margin-bottom:10px;">
	                            	<li>Subject-specific videos, reading materials, simulations, games, and more for the academic curriculum</li>
	                            	<li>Lesson plans, content refreshers, pedagogical guides, and classroom management resources to support educator</li>
	                            	<li>Literacy-building libraries of children’s books and freeform reading materials</li>
	                            	<li>General reference and contextual resources</li>
	                            	<li>Life skills materials on subjects such as health, safety, trauma recovery, digital literacy, and others</li>
	                            </ul>

	                            <p>Some of our content sources include:</p>
	                            <a href="https://www.khanacademy.org/" target="_blank"><img src="{% static 'img/kickstarter/Khan-Academy.png' %}"></a>
	                            <a href="https://www.aflatoun.org/" target="_blank"><img src="{% static 'img/kickstarter/Aflatoun.png' %}"></a>
	                            <a href="http://www.africanstorybook.org/" target="_blank"><img src="{% static 'img/kickstarter/African-storybook.png' %}"></a>
	                            <a href="https://www.librarieswithoutborders.org/" target="_blank"><img src="{% static 'img/kickstarter/Libraries-without-borders.png' %}"></a>
	                            <a href="http://prathambooks.org/" target="_blank"><img src="{% static 'img/kickstarter/Pratham-books.png' %}"></a>
	                            <a href="https://www.sikana.tv/en" target="_blank"><img src="{% static 'img/kickstarter/Sikana.png' %}"></a>
	                            <a href="http://tahriracademy.org/" target="_blank"><img src="{% static 'img/kickstarter/Tahrir.png' %}"></a>

								<br><br>
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="my_col">
	                        <div class="modal-body">
	                            <h2>Syncing and Sharing</h2>
	                            <img class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/peer_to_peer_modal_img.png' %}" alt="">
	                            <p class="center">Devices running Kolibri will be able to find and directly connect with each other over a local Wi-Fi network, allowing for easy content sharing and data updates. </p>
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div>
	                        <div class="modal-body">
	                            <!-- Project Details Go Here -->
	                            <h2>Packaged for offline use</h2>
	                            <p class="item-intro text-muted">We developed special processes to package online learning materials to be taken offline. One of our innovations is a video compression technique that convert the pen strokes and objects in a blackboard-style video into scalable vector objects.</p>

								<img class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/vector.gif'  %}" alt="Compress 250MB Video down to 1MB without losing quality">

	                            <p>In our tests, a 250MB video can now be compressed into just a single megabyte, while retaining most of the original quality. This reduces the time and cost needed to download a large set of videos, and allows a large amount of content to be stored on a small, low-cost device.</p>
	                            <br>
	                       
	                         
	                          
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="my_col">
	                        <div class="modal-body">
	                            <!-- Project Details Go Here -->
	                            <h2>Self-Paced Learning</h2>
	                            <p class="item-intro text-muted">Track educational growth for individuals and groups of learners accurately and easily, even in informal educational contexts.</p>
	                            <p>Kolibri comes with tools such as a coach dashboard, exam creation, exercises, assignment of content for differentiated instruction, and a recommendation tool that displays useful and relevant next steps based on a learner's history, progress, and goals.</p>
	                            <img id="paced-learning" class="img-responsive img-centered" src="{% static 'img/kickstarter/portfolio/coach-reports.png' %}" alt="Coach Reports">
	                            <p class="big"><mark>&#9733 Coach Features:  </mark>   Detailed reports measure factors such as progress towards completion of resources and exercises, records on which questions have been answered correctly or incorrectly, and provide a picture of overall understanding on both an individual and full-class level.</p>
	                            <p class="big"><mark>&#9733 Customized Quizzes and Exercises:  </mark>   Question sets and exercises can be created in Kolibri in multiple choice and free response format. This customized evaluation tool helps learners practice what they've learned and show what they know, while staying aligned with the goals and standards of their local curriculum.</p>
	                            <p class="big"><mark>&#9733 Content Recommendation:  </mark>   Kolibri will recommend educational content to a learner based on the content and exercises they have previously engaged with.</p>
	                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
