<h5>Kolibri Terms of Service</h5>

<p>The Foundation for Learning Equality, a 501(c)(3) non-profit organization (hereinafter referred to as “Learning Equality” or “Us”), is the provider of Kolibri (the “Software”).</p>

<p>Learning Equality is committed to enabling every person in the world to realize their right to a quality education, by supporting the creation, adaptation and distribution of open educational resources, and creating supportive tools for innovative pedagogy.</p>

<p>These Terms of Use ("Terms") govern your use of the Kolibri Software, apps, and other products and services ("Services"). Visitors and users of the Software are referred to individually as “User” and collectively as “Users.”</p>

<p>By using our Services, you agree to be bound by these Terms, including the policies referenced in these Terms (such as our Privacy Policy below).</p>

<p>The effective date of these Terms of Use is December 5, 2017.</p>

<h5>Using Kolibri</h5>

<p>You may use our Services in compliance with these Terms and all applicable laws. When you create your Kolibri account, and subsequently when you use certain features, you must provide us with accurate and complete information. If you are under 13 years of age, permission to use this Service must be obtained from your parent, guardian or teacher over the age of 18.</p>

<p>Subject to these Terms, we grant you a limited, personal, non-exclusive, non-transferable, and revocable license to use our Services. Using our Services does not transfer ownership to you of any intellectual property rights in our Services or the content you access.</p>

<h5>Software Licensing</h5>

<p>The visual interfaces, graphics, design, compilation, information, computer code (including source code or object code), software and services, and all other elements of the Software (the “Software Materials”) are protected by United States and international copyright, patent, and trademark laws, international conventions, and other applicable laws governing intellectual property and proprietary rights.</p>

<p>Copyright for the Kolibri software, except where otherwise specified, belongs to Learning Equality. The Kolibri codebase (<a target="_blank" href="https://github.com/learningequality/kolibri">https://github.com/learningequality/kolibri</a>) is released for use under the open-source MIT license (see <a target="_blank" href="http://opensource.org/licenses/MIT">http://opensource.org/licenses/MIT</a>). Trademark for the “Kolibri” brand and accompanying logo belong to Learning Equality.</p>

<h5>Content Licensing</h5>

<p>Learning Equality encourages the creation of openly licensed content in order to allow for open sharing, reuse, remixing, and adaptation of learning resources by Users and the organizations that serve them.</p>

<p>Through the Services, you will have the ability to access and/or use content provided by instructors, other users, and/or other third parties, and links to Softwares and services maintained by third parties. The content included in Kolibri is sourced from various providers, and copyright ownership of the content, as well as the license under which Users are permitted to access the content, is specified in the attribution below each piece of content on the Software.</p>

<p>The materials appearing on the Software might include errors, for example technical, typographical, or photographic errors. Learning Equality does not warrant any of the materials on its Software are accurate, complete or current. Learning Equality cannot guarantee that such third party content, in the Services or elsewhere, will be free of material you may find objectionable or otherwise inappropriate. Learning Equality disclaims any responsibility or liability related to your access or use of such third party content.</p>

<p>Learning Equality may in its sole discretion make changes to the materials contained on its Software at any time without notice. While Learning Equality strives to keep content in the platform updated and well-maintained, it does not make any commitment to update the materials at particular intervals.</p>

<h5>User Content</h5>

<p>The Services enable you to share your content, such as MP3, MP4, HTML5 Zip files and exercises that are authored or uploaded through Kolibri Studio ("User Content"), with Learning Equality, Admins, and/or other users. You or the original copyright holder retain all intellectual property rights in, and you are responsible for, the User Content you share. You guarantee that the attribution and licensing information you provide along with User Content is accurate to the best of your knowledge, and that you have the appropriate permissions (as provided by the content license, or in writing from the copyright holder) to distribute the User Content through the Software.</p>

<h5>Privacy Policy</h5>

<p>Some parts of the Software allow you to give us personal information. When you visit the site or communicate with us, we may use the information you provide to improve service delivery, customer support, or otherwise to modify and improve the Services. Where you have choices about how we use the information you provide, we will so indicate at the point of collection.</p>

<p>When a User logs in and interacts with content in the installed Software, information regarding these interactions is recorded to a local database for purposes of awarding “points” and indicating to the User the progress made, recommending additional content, and displaying data to other Users with appropriate system permissions (e.g. teachers or parents). The Software may also be used to synchronize data from this local database to other properly authorized devices for purposes of enabling Users to access their accounts through multiple devices, or for aggregation and analysis purposes. When the Software has access to the Internet, it may occasionally connect to an online server operated by Learning Equality to check for updates or announcements, and in the process may share non-personally identifying information, such as the operating system version and Software version, with this online server.</p>

<p>Learning Equality is committed to learning constantly and improving the quality of its Services, and records of your participation in courses may be used for education research. Research findings will only be reported at the aggregate level. Your personal identity will not be publicly disclosed in any research findings without your express consent. Learn more about Learning Equality’s core values at: <a target="_blank" href="https://learningequality.org/about/values/">https://learningequality.org/about/values/</a></p>

<p>From time to time, we may update this privacy policy statement because of a change in the Services’ functionality or changes in applicable laws. When we do so, we will give you notice on the Software that the policy has been changed and your continued use of the Services will constitute your agreement to those changes.</p>

<h5>Acceptable Use</h5>

<p>We want to ensure that our Users feel safe and are at ease when using our Services, and provide the following guidelines when utilizing the Kolibri platform. As such, you agree not to:</p>

<ul>
    <li>Share your password, let anyone access your account, or do anything that might put your account at risk.</li>
    <li>Attempt to access any other user's account.</li>
    <li>Access, tamper with, or use non-public areas of our systems, unless specifically authorized by us in writing to do so.</li>
    <li>Remove, circumvent, disable, damage or otherwise interfere with security-related features of the Software, or test the vulnerability of our systems or networks, unless specifically authorized by us in writing to do so.</li>
    <li>Intentionally interfere with or damage operation of the Software or any user’s enjoyment of it, by any means, including without limitation by participation in any denial-of-service type attacks or by uploading or otherwise disseminating viruses, adware, spyware, worms, or other malicious code.</li>
</ul>

<p>We reserve the right to disable accounts for reasons including, but not limited to, violations of the Acceptable Use policy or any other provision of these Terms.</p>

<h5>Security</h5>

<p>We care about the security of our users. While we work to protect the security of your account and related information, Learning Equality cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account by emailing <a href="mailto:legal@learningequality.org">legal@learningequality.org</a>.</p>

