{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Internships{% endblock title %}

{% block about_internships_active %}active{% endblock %}

{% block about_content %}
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="page-header">
                <h1>Intern at Learning Equality</h1>
                <h3>Help 4.5 BILLION people access a free education</h3>    
            </div>
            <p>We are a group of hackers, educators, and humanitarians that eat the digital divide for breakfast. We believe that regardless of their nationality, gender, or social status, everyone around the world should have access to free, high-quality education. And we need your help to make it happen. Apply to our internship program!</p>

            <a href="/about/team/">
                <img src="https://lh6.googleusercontent.com/m6RrKPMeQAVSiIZndqC4QASoXNDAsODu2m9EnW1DCeSCqGZNtead-ZD_Tighvh7kYhtSf2is8dC_Cu4iPU50Y4d9WRNFXZ6nhrXN9Ci5Ar1MxTkXzWUNQwgCzIeDCSOLcw8X7N0xsQ" title="One big happy family" alt="Photo of Learning Equality team with values poster" class="img-thumbnail">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/86198/624172/a4LgNQhTIuLVdQe/map-screenshot.jpg" title="Making the earth a pincushion for KA Lite installs" alt="A map of known KA Lite installations" class="img-thumbnail">
            </a>


            <!--<a href="/ka-lite/map/">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/86198/624172/a4LgNQhTIuLVdQe/map-screenshot.jpg" title="Making the earth a pincushion for KA Lite installs" alt="A map of known KA Lite installations" class="img-thumbnail">
            </a>-->

             <p>
                <strong>Interested? Here's who we're looking for right now:</strong><br/>
                <ol>
                    <li>
                        You take the initiative, finding multiple solutions to problems that you see, and work with team members to get feedback and iterate ideas.
                    </li>
                    <li>
                        You absolutely love learning.
                    </li>
                    <li>
                        You want to help spread the great opportunities you have had to everyone around the world.
                    </li>
                </ol>
            </p>

            <p>
                <strong>If you're not sold yet, here are some other benefits:</strong>
                <ol>
                    <li>
                        A GitHub/LinkedIn/Dribbble account that will absolutely sparkle once you've completed your internship.
                    </li>
                    <li>
                        Open door access to a team of talented, creative, passionate people.
                    </li>
                    <li>
                        A sense of purpose so strong that it adds a twinkle to your eye and a skip in your step*
                    </li>
                </ol>
            </p>

            <!-- Replace with link to Trello board -->
            <p>Ready to apply? <a href="https://trello.com/b/bScU71ce/learning-equality-internship-projects" target="_blank">View the list of available projects</a> and fill out an application!</p>

            <a href="/r/internship-application-form"><button class="btn-primary btn-large fle-btn">Apply for Internship</button></a>

<!--    

            {% for i in internships %}
                {% if i.active %}
                    <div class="well" id="{{ i.slug }}">
                        <h5><strong>{{ i.title }}</strong></h5>
                        {{ i.description }}
                        <p>Ready to apply? <a href="/r/internship-application-form">Fill out an application!</a></p>
                    </div>
                {% endif %}
            {% endfor %}
 -->
            <!-- FAQ -->
            <h3>Frequently Asked Questions</h3>
            <dl id="faq">
                <dt>When can I apply?</dt>
                <dd>You can apply at any time of the year, but typically, we will release new projects that you can apply to every 3-months. We operate our internship program in sync with the <a href="http://blink.ucsd.edu/instructors/resources/academic/calendars/">UC San Diego quarter system</a> for the convenience of current students as we’re located on the UCSD campus. You can see if there are any available projects on the <a href="https://trello.com/b/bScU71ce/learning-equality-internship-projects" target="_blank">Trello board</a>. If there are no projects that interest you at any given time, you can <a href="https://groups.google.com/a/learningequality.org/forum/#!forum/internships/join">subscribe to the Internships Mailing List</a> to be notified of future rounds.</dd>
                <dt>How much time will I have to commit?</dt>
                <dd>We ask that all interns commit to a minimum of 10 hours a week of in-office time (the more the better!) and a minimum of one academic quarter at UCSD or 3 months.</dd>
                <dt>Is this a paid or unpaid internship?</dt>
                <dd>At the moment, internships are unpaid, and the goal is to help you learn as much as possible, so we provide mentoring and training (and snacks!). However, in a number of cases interns have later gone on to join us for either full-time or part-time positions, so interning is a good way to get your foot in the door.</dd>
                <dt>Where are the internships located?</dt>
                <dd>Our offices are in <a href="https://learningequality.org/directions/">Atkinson Hall</a> on the UCSD campus in San Diego, California. Also known as America's Finest City, and home to Ron Burgundy, among other fine people. We can also consider the possibility of remote internships, if you don't have a way to get to San Diego.</dd>
                <dt>I'm a UCSD student. Can I get 199 credit?</dt>
                <dd>Yes, we collaborate with faculty and graduate students, through whom we can give COGS 199 or CSE 199 class credit.</dd>
                <dt>How does the application process work?</dt>
                <dd>First, check out the <a href="https://trello.com/b/bScU71ce/learning-equality-internship-projects" target="_blank">Trello board</a> which shows the  current internship projects. You can access the application from both the Trello board and this page. After the application is submitted, we will review your application and be in touch via email within 2 weeks about scheduling an interview and discussing follow up questions.</dt>
                <dd>Don't hesitate to send us an email at <a href="mailto:jobs@learningequality.org">jobs@learningequality.org</a>.</dd>
            </dl>

        </div>
    </div>
{% endblock about_content %}