{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div id="mission-content">
  <div class="page-header">
    <h1>Our Mission</h1>
  </div>
    <p>
      Learning Equality is committed to enabling every person in the world to realize their right to a quality education, by supporting the creation, adaptation and distribution of open educational resources, and facilitating their use inside and outside of classrooms around the world. Through this work, we aim to build a new, open, and fundamentally human-centered educational model, in order to promote human flourishing.
    </p>

  <div class="page-header">
    <h1>Our Motivation</h1>
  </div>
    <p>
      In the summer of 2012, our co-founder Jamie Alexandre was interning at Khan Academy when he and a fellow intern had the idea to bring Khan Academy offline using a low-cost Raspberry Pi. After returning to San Diego, Jamie and a dedicated group of student volunteers brought this idea to life. KA Lite was officially launched in December of 2012, sparking an enthusiastic global response that led to a flood of requests for support, features, and partnerships. Since officially incorporating as a non-profit organization in April of 2013, Learning Equality now has over 20 full-time employees who continue to work together towards a common mission.
    </p>
    <p>
      The "online learning revolution" has generated excitement about the potential for broad, free access to educational resources. One of the greatest barriers is that an estimated 4.5 billion people still lack Internet access. Countries with the least Internet access are the same countries with the least access to quality education in general, including fewer qualified teachers per student and fewer educational materials. Although Internet access will continue to spread over the next few decades, we believe that simply waiting for improved internet access will leave generations of learners behind, and we're not willing to wait and watch that happen. We have dedicated ourselves to building solutions for distributing and hosting open educational resources via low-bandwidth and offline channels, taking advantage of existing infrastructure or low-cost and low-power hardware solutions.
    </p>

  <div class="page-header">
    <h1>Our Progress</h1>
  </div>
    <p>
      <a href="">KA Lite</a>, our open-source platform for viewing and interacting with <a href="https://www.khanacademy.org/">Khan Academy</a> videos and exercises, can be used even when no Internet is available. Students can connect to the server from within a classroom or other space, on a laptop, tablet, or desktop computer, or it can be installed directly on a learner's computer for portable access. KA Lite has already been installed in over 175 countries and territories, reaching an estimated 4.5 million learners, in contexts as varied as rural schools, orphanages, community centers, refugee camps, prisons, and homes. Check out our <a href="{% url 'map' %}">map of current deployments and installations</a>.
    </p>
  <div class="page-header">
    <h1>Our Direction</h1>
  </div>
    <p>
      <a href="{% url 'indiegogo' %}">Kolibri</a> is Learning Equality’s updated response to educational inequality caused by limited connectivity. Kolibri is an open-source platform that is built to enable seamless authoring and peer-to-peer sharing, and engage users with educational content without the need for Internet. Through Kolibri, Learning Equality combines a vast, curated library of educational content from sources all over the globe, and makes the content available completely offline, on low-cost devices. Instructors and organizations can create locally relevant, customized educational curricula that fit their context,including both global open content and locally-sourced/created materials . Kolibri also includes tools for self-paced, collaborative learning to provide instant feedback for students and teachers, and personalized recommendations to enable students to work at their own pace with support from mentors and peers in a blended learning context.


  </p>
</div>

{% endblock about_content %}