{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Friends and Supporters{% endblock title %}

{% block about_supporters_active %}active{% endblock about_supporters_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div id="supporters-content">

    {# Supporters Section #}
    <div class="page-header">
        <h1>Our Supporters</h1>
    </div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/google.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/hewlet.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/riot.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/rackspace.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/browserstack.png' %}"></div>

    {# Partners Section #}
    <div class="page-header">
        <h1>Our Friends</h1>
    </div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/unicef.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/vodafone.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/unete.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/ka.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/idaho.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/mfe.png' %}"></div>
    <div class="logo-wrapper"><img src="{% static 'img/logos/ucsd.png' %}"></div>

</div>
{% endblock about_content %}
