{% extends 'ka_lite/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block headcss %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock headcss %}

{% block bodycontents %}

<!--<div class="bannernav">
  <div class="navbar-inner">
      <p class="banner-text">Kolibri is in flight! <a href="#">Learn about transitioning from KA Lite.</a>
  </div>
</div>-->

<div class="container-fluid">

	<div id="fle-header">
<!-- ============= LANDING SCREEN ================ -->
		<div class="row landing-screen">
			<div class="container">
				<div class="container col-xs-12 col-sm-12 col-md-9 col-lg-8 landing-box">
					<span id="landing-header">HELPING MAKE UNIVERSAL EDUCATION A REALITY</span>
					<span id="landing-description">We are bridging the global digital divide by bringing the online learning revolution offline.</span>
				</div>
				
					
				
			</div>
		</div>

<!-- ============= MISSION SCREEN ================ -->
		<div class="row mission-screen">
			<div id="learn-more" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 mission-box">
				<!--<img src="{% static 'img/world-map-adjusted.png'%}" class="children-ratio center-block" alt="children">-->
				<h2 class="mission-header darkblue">Our Mission</h2>
				<h3 class="our-mission">Learning Equality is committed to enabling every person in the world to realize their right to a quality education, by supporting the creation, adaptation and distribution of open educational resources, and creating supportive tools for innovative pedagogy.</h3>
				<br/><br/>

			</div>
		</div>
	</div>


<!-- ============= DIVIDE START ================ -->
	<div class="container-fluid divide-screen">

		<div class="title-banner divide-banner" id="divide">
				<br><h2 class="banner-cta">The Divide</h2><br><br>
			</div>

		<div class="row focus-row">
			<div class="col-sm-12 col-md-12">
				<span class="child-number2 bold left believe darkblue text-center">1 in 3</span>
				<p class="text-center">Children around the world lack access to a quality basic education</p>
				<img src="{% static 'img/children.png'%}" class="children-ratio center-block" alt="children">
				
			</div>
		</div>

		<br><br>

		<div class="row focus-row">
			<div class="col-sm-6 col-md-6 col-lg-6 believe-blurb">
				<span class="child-number2 bold left believe darkblue">We believe</span>
				<p>Education is both the key to breaking the cycle of poverty and opening the door to human flourishing. There are now more quality, free, open educational resources online than ever before. However...</p>
			</div>
			<div class="col-sm-4 col-md-6 col-lg-6">
				<img src="{% static 'img/cycle.png' %}" class="cycle-image center-block" alt="Cycle of poverty">
			</div>
		</div>

		<div class="row focus-row">
			<div class="col-xs-12 col-sm-6 col-md-6 disconnected-column">
				<br><br>
				<span class="child-number2 bold left believe darkblue">4.5 billion are disconnected</span>
				<p>This is the divide. The 60% of the world who could benefit the most from open educational resources and supporting pedagogical tools lack the connectivity needed to access them.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-6">
				<img src="{% static 'img/no-wifi.png' %}" alt="No Wifi" class="center-block wifi-globe">
			</div>
			
		</div>
	</div>

<!-- ============= THE BRIDGE ================ -->
	<div class="row bridge-screen">
		<div class="container-fluid">

			<div class="title-banner bridge-banner" id="bridge">
				<h2 class="banner-cta">The Bridge</h2>
			</div>
			<div class="bridge container col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="bridge-intro bold">
					<h4 class="mission-state bold">For learners to realize their right to quality education means that anyone, anywhere—online or offline—can access it. We realized the potential emerging out of four converging trends:</h4>
				</div>
				<div class="bridge-box bbox row">
					<div class="cost-effective col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<img src="{% static 'img/OER.png'%}" alt="OER">
						<h3 class="bold">1. Open Educational Resources</h3>
						<p>More and more learning materials are being released under Creative Commons licenses, which allows them to be shared, used, and remixed freely. These Open Educational Resources (OER) now feature an increasing number of digital curricula.</p>
					</div>
					<div class="collaborate col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<img src="{% static 'img/low-cost.png'%}" alt="Cost Effective">
						<h3 class="bold">2. Low Cost Computing</h3>
						<p>The cost of hardware is decreasing much faster than the cost of Internet bandwidth; devices like the Raspberry Pi and low-cost Android tablets open up computing to more users than ever before.</p>
					</div>
				</div>

				<div class="bridge-box bbox row">
					<div class="collaborate col-lg-6 col-md-6 col-sm-6">
						<img src="{% static 'img/pedagodgy.png'%}" alt="Pedagogical tools">
						<h3 class="bold">3. Pedagogical tools</h3>
						<p>Technology is paving the way to build supportive tools for aiding classroom instruction to help reach the various levels of all students.</p>
					</div>
					<div class="designed col-lg-6 col-md-6 col-sm-6">
						<img src="{% static 'img/sneakernet.png'%}" alt="Sneakernet">
						<h3 class="bold">4. Sneakernet Sharing</h3>
						<p>In the absence of internet connectivity, content and software can be distributed through existing human networks, carried on USB sticks and other portable devices to be shared with others.</p>
					</div>
				</div>

				<div class="bridge-intro bold">
					<h4 class="mission-state bold">Leveraging these trends, we build and support educational tools that bridge the digital divide:</h4>
				</div>
				<div class="bridge-box row">
					<div class="cost-effective col-lg-4 col-md-4 col-sm-4">
						<img src="{% static 'img/flexible.png'%}" alt="Flexible and Lightweight">
						<h3 class="bold">Flexible and Lightweight</h3>
						<p>In order to enable access for as many people as possible, our tools are designed to run on a broad diversity of devices, ranging from repurposed hardware to a wide variety of new low-cost devices.</p>
					</div>
					<div class="collaborate col-lg-4 col-md-4 col-sm-4">
						<img src="{% static 'img/collaborate.png'%}" alt="Collaborate">
						<h3 class="bold comm">Empowering for Communities</h3>
						<p>Every person, community, or country knows its own needs and values best. Our role is to collaborate in supporting self-fulfilment, not to dictate solutions. We strive to create tools to allow people to learn, teach, create, and share on their own terms.</p>
					</div>
					<div class="designed col-lg-4 col-md-4 col-sm-4">
						<img src="{% static 'img/design.png'%}" alt="Designed for Everyone">
						<h3 class="bold">Designed for Everyone</h3>
						<p>Our tools aim to support diverse user needs in a variety of contexts. We work with our partners to understand and support the needs of contexts such as orphanages, schools, correctional facilities, refugee camps, and homes.</p>
					</div>
					<!--<button class="btn form-button btn-success">LEARN MORE</button>-->
				</div>
			</div>
		</div>
	</div>

<!-- ============= OUR PRODUCTS ================ -->
	<div class="row impact-screen" id="impact">
		<div class="container-fluid">

			<div class="title-banner impact-banner">
				<h2 class="banner-cta">Our Solutions</h2>
			</div>
			<div class="impact-box container">
				<div class="impact container row">
					<div class="col-lg-3 col-md-4 col-sm-4">
						<a href="{% url 'indiegogo' %}"><img src="{% static 'img/kickstarter/Kolibri-tablet.png'%}" alt="Kolibri tablet"></a>
					</div>
					<div class="ka-lite col-lg-9 col-md-8 col-sm-8">
						<h2><strong>Kolibri</strong></h2>
						<h4>Our next-generation platform</h4>
						<p>Kolibri is an open-source educational platform and toolkit designed for low-resource communities. Like KA Lite, Kolibri is built to run on a lightweight local server, but with a growing library of open educational resources and the tools to adapt them to the local curriculum.</p>
						<a href="{% url 'indiegogo' %}"><button type="button" target="_blank" class="nav btn btn-success">LEARN MORE</button></a>
					</div>
				</div>
			</div>

			<div class="impact-box container">
				<div class="impact container row">
					<div class="col-lg-3 col-md-4 col-sm-4">
						<a href="{% url 'ka_lite' %}"><img src="{% static 'img/kickstarter/KA-lite-tablet.png'%}" alt="KA Lite tablet"></a>
					</div>
					<div class="ka-lite col-lg-9 col-md-8 col-sm-8">
						<h2><strong>KA Lite</strong></h2>
						<h4>An offline version of Khan Academy</h4>
						<p>KA Lite is installed in more than 194 countries and territories, and used by hundreds of organizations, and deployed in schools, orphanages, refugee camps, community centers, and correctional facilities around the world.</p>
						<a href="{% url 'ka_lite' %}"><button type="button" target="_blank" class="nav btn btn-success">LEARN MORE</button></a>
					</div>
				</div>
			</div>

		</div>
	</div>


<!-- ============= OUR IMPACT ================ -->
	<div class="row impact-screen" id="impact">
		<div class="container-fluid">

			<section class="impact-section">
				<h2 class="banner-cta">Our Impact</h2>
				<h4 class="impact-text">We have reached millions of learners with KA Lite all around the globe, and we will reach millions more with Kolibri. Read about those who shared their story with us and share your own!</h4>
				<div class="impact-cta">
				<a href="https://learningequality.org/ka-lite/map/"><button type="button" class="btn btn-success">SEE THE MAP</button></a>
				<a href="https://learningequality.org/ka-lite/map/add/"><button type="button" class="nav btn btn-success">SHARE YOUR STORY</button></a>
				</div>
			</section>


			<div class="row impact-row">

				<div class="row impact-row">

				<h3 class="report-header">Recent Reports</h3>
				<p>With KA Lite, learning outcomes have improved in the various communities where our collaborators have worked. Read about the studies conducted in places such as Guatemala, India, and Cameroon.</p>
				<br><br>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			
					<div class="impact-report">
						<img class="report-cover" src="{% static 'img/Funsepa_report.png'%}">
							<h4>Fundación Sergio Paiz Andrade</h4>
							<a target="_blank" href="https://learningequality.org/media/FUNSEPA_Final_Evaluation_Report_27May2016.pdf">READ MORE</a>
					</div>
					<div class="impact-report">
						<img class="report-cover" src="{% static 'img/Cameroun-report.png'%}">
							<h4>Transforming Education in Cameroon</h4>
							<a target="_blank" href="media/Rapport-Etude-Cameroun_KL_ENG.pdf">READ MORE</a>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
					<div class="impact-report">
						<img class="report-cover" src="{% static 'img/Hirshleifer-report.png'%}">
							<h4>Incentives for Effort or Outputs? A Field Experiment to Improve Student Performance</h4>
							<a target="_blank" href="https://www.povertyactionlab.org/sites/default/files/publications/Hirshleifer_Incentives%20for%20Output_Jan2016.pdf">READ MORE</a>
					</div>
					<div class="impact-report">
						<img class="report-cover" src="{% static 'img/vf_report.png'%}">
							<h4>Connected Education</h4>
							<a target="_blank" href="http://www.vodafone.com/content/dam/vodafone/connected-education/vodafone_connected_education.pdf">READ MORE</a>
					</div>
				</div>

			</div>

				<div class="col-lg-12 google-impact" >
					
					
					<iframe width="560" height="500" class="google-impact-video center-block" src="https://www.youtube.com/embed/h8-oQvITb3M" frameborder="0" allowfullscreen></iframe>
				</div>

			</div>
		

		</div>
	</div>


<!-- ============= GET INVOLVED ================ -->
	<div class="row involved-screen">
		<div class="container-fluid">

			<div id="involved" class="title-banner involve-banner">
				<h2 class="banner-cta">Get Involved</h2>
			</div>
			<div class="involved container">
				<div class="container involve-links">
					<div class="container">	
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<i class="fa fa-paper-plane fa-5x"></i>
							<p>Join the team!</p>
							<a href="{% url 'jobs' %}"><button class="btn form-button btn-success">JOBS</button></a>
							<a href="{% url 'internships' %}"><button class="btn form-button btn-success">INTERNSHIPS</button> </a>

						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<img src="{% static 'img/github.png' %}" alt="GitHub">
							<p>Build world-changing tools! Check out our open-source repositories.</p>
							<a target="_blank" href="https://github.com/learningequality"><button class="btn form-button btn-success">GITHUB</button></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<img src="{% static 'img/translate.png' %}" alt="Translate">
							<p>Help make our tools available in more languages!</p>
							<a target="_blank" href="https://github.com/learningequality/ka-lite/wiki/Internationalization:-Contributing-Translations"><button class="btn form-button btn-success">TRANSLATE</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<!-- ============= FOOTER ================ -->



<script type="text/javascript">
 //Scrollspy
	$('body').scrollspy({ 
    target: '#fle-inner-nav',
    offset: 1000
  });

 //Dynamically set data offset on page load for inner nav
  $(function(){
    var headerHeight = $('#fle-navbar').outerHeight() + $('#fle-header').outerHeight() - $('#fle-inner-nav').height();
    $('#fle-inner-nav').attr("data-offset-top", headerHeight);
  });

  // Class to scroll to top
  $('.scroll-to-top').click(function(){
    $('html, body').animate({scrollTop : 0}, 600);
    return false;
  });

  //Smooth scroll
  $('a').not('.scroll-to-top').not('.carousel-control').not('.left').not('.right').click(function(){
    var bump = $("#fle-inner-nav").hasClass("affix-top") ? 90 : 0;
    var $root = $('html, body');
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top - bump
    }, 600);
    return false;
  });

</script>

{% endblock bodycontents %}
