{% load staticfiles %}

<!-- Privacy Section -->
<div class="container-fluid">
  <style>
    .ka-lite-terms-of-service {
      max-height: 200px;
      overflow-y: scroll;
      border: 1px solid #d0d0d0;
      padding: 16px;
    }
    .ka-lite-terms-of-service-wrapper {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  </style>
  <div class="container ka-lite-terms-of-service-wrapper">
    <h4>Privacy Policy</h4>
    <div class="ka-lite-terms-of-service">

      <p>This Privacy Policy informs you of our privacy practices and your choices and rights around the personal data that we collect. This Privacy Policy applies to the KA Lite, and all related websites (“Website”). This Privacy Statement does not apply to third party applications or partner organizations that may use our software or be used in conjunction with our software. </p>

      <p>Learning Equality recognizes your right to privacy, and will take reasonable steps to protect this. Some parts of Website allow you to give us personal information, such as your name and email address. We may use the information you provide to improve the Website. Where you have choices about how we use the information you provide, we will indicate this at the point of collection. We may store your personal information outside of the European Union.</p>

      <p>Learning Equality is committed to learning constantly and improving the quality of the Website, and records related to your interactions with the Website may be used for research. Research findings will typically be reported at the aggregate level, and your personal identity will never be publicly disclosed in any research findings without your express consent. Learn more about Learning Equality’s core values at: <a href="https://learningequality.org/about/values/">https://learningequality.org/about/values/</a></p>

      <p>If you have any questions about these practices or use of your personal information, please email <a href="mailto:legal@learningequality.org">legal@learningequality.org</a></p>

      <hr>

      <p>Last modified: 2018-05-24 8:40 AM PT</p>

    </div>
  </div>
</div>
 <!-- End Privacy Section -->
